{% extends 'layout/layoutAdmin.html.twig' %}

{% block body %}
	<h1>Produit Ajout</h1>
	<form action="{{ path('produitAdmin_new') }}" method="POST" {{ form_enctype(form) }} >
	{{ form(form) }}
	</form>
    <br />
	<ul class="record_actions">
		<li>
			<a href="{{ path('produitAdmin_index') }}">
				Retour
			<a>
		</li>
		
	</ul>
{% endblock %}
           